{% if app.request.hasPreviousSession %}
  {% set flashes = app.flashes(['success', 'warning', 'error', 'info']) %}
  {% if flashes.success or flashes.warning or flashes.error or flashes.info %}
    <div class="p-4">
      {% for label, messages in flashes %}
        {% for message in messages %}
          <div class="alert {{ label }} mb-2" role="alert">
            <p>{{ message|trans }}</p>
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  {% endif %}
{% endif %}
