{% extends 'app/layout.html.twig' %}

{% block body %}
  <div class="container mx-auto p-4">
    <h1 class="pb-3 border-b border-gray-300 text-2xl font-bold">Serveurs</h1>
    <ul class="mt-4">
      {% for server in servers %}
        <li>
          <a href="#">{{ server.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
