{% extends 'app/admin/layout.html.twig' %}

{% block page_content %}
  <h1 class="pb-3 mb-4 border-b border-gray-300 text-2xl font-bold">Clients</h1>
  <a class="btn success mb-4" href="{{ path('app_admin_customer_create') }}">Nouveau client</a>
  <ul class="list-disc list-inside">
    {% for customer in customers %}
      <li class="mb-4">
        <strong>{{ customer.name }}</strong>
        <a class="btn" href="{{ path('app_admin_customer_edit', { id: customer.id }) }}">
          <i class="fas fa-edit"></i>
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
