{% extends 'app/admin/layout.html.twig' %}

{% block page_content %}
  <div class="page-title">
    <h1>Utilisateurs</h1>
  </div>
  <a class="btn success mb-4" href="{{ path('app_admin_user_create') }}">Nouvel utilisateur</a>
  <ul class="list-disc list-inside">
    {% for user in users %}
      <li class="mb-4">
        {{ user.email }}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
