<table>
  <tbody>
    {% for server in servers %}
      <tr>
        <td>
          <a class="font-bold text-gray-900" href="{{ path('app_server_view', { id: server.id }) }}">{{ server.name }}</a>
        </td>
        <td class="text-right">Créé {{ server.createdAt|diffForHumans }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
