{% extends 'app/server/layout.html.twig' %}

{% block page_content %}
  <div class="page-title">
    <h1>Paramètres</h1>
  </div>
  {{ form_start(form) }}
  {{ form_rest(form) }}
  <button type="submit" class="btn btn-success mt-4">Enregistrer</button>
  {{ form_end(form) }}
  {% if is_granted('DELETE', server) %}
    <div class="page-title mt-4">
      <h2>Supprimer le serveur</h2>
    </div>
    <p>Supprimer ce serveur supprimera aussi toutes les données associées.</p>
    <p><strong>Cette action est irréversible !</strong></p>
    <a class="btn btn-danger btn-sm mt-2" data-confirm="Êtes-vous sûr de vouloir supprimer ce serveur ?" href="{{ path('app_server_delete', { id: server.id }) }}">Supprimer</a>
  {% endif %}
{% endblock %}
