{% extends 'app/layout.html.twig' %}

{% block page_content %}
  <div class="page-title">
    <h1>Serveurs</h1>
  </div>
  {% if is_granted('ROLE_SERVER_CREATE') %}
    <a class="btn success mb-4" href="{{ path('app_server_create') }}">Nouveau serveur</a>
  {% endif %}
  {{ include('app/server/_list.html.twig') }}
  {% if pager.haveToPaginate %}
    <div class="pagination text-center">
      {{ pagerfanta(pager) }}
    </div>
  {% endif %}
{% endblock %}
