body {
  margin-top: 2.625rem;
}

header.topbar {
  @apply bg-red-900;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  .btn {
    @apply p-2 m-1 text-xs text-gray-100 rounded;
    align-items: center;
    display: flex;
    font-weight: bold;
    &:hover {
      @apply bg-white text-red-900;
    }
  }
  .dropdown {
    position: relative;
  }
  .menu {
    @apply py-2 bg-white border shadow rounded;
    display: none;
    min-width: 15rem;
    position: absolute;
    right: 0;
    top: 2.75rem;
    &.open {
      display: block;
    }
    ul {
      li {
        &.divider {
          @apply bg-gray-300;
          height: 1px;
          margin: 0.25rem 0;
        }
        a {
          @apply text-sm;
          display: block;
          &:hover {
            @apply bg-gray-200;
          }
        }
      }
    }
  }
}
