.navbar-nav {
  > .user-menu {
    > .dropdown-menu {
      > li.user-header {
        background-color: #f9f9f9;
        height: auto;
        > p {
          color: black;
        }
      }
    }
  }
}
