input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="tel"], input[type="search"], textarea {
  @apply appearance-none block w-full bg-white rounded border-2 border-gray-400 text-base px-4 py-2;
  transition: border-color 0.25s;
  &:hover {
    @apply border-gray-500;
  }
  &:focus {
    @apply outline-none border-primary-500;
  }
}

input[type="color"] {
  @apply appearance-none outline-none block border-0 rounded-lg w-24 h-24;
  &::-webkit-color-swatch-wrapper {
    @apply p-0;
  }
  &::-webkit-color-swatch {
    @apply border-0 rounded-lg;
  }
}

input[type="checkbox"], input[type="radio"] {
  margin-right: 0.5rem;
  + label {
    margin-right: 1rem;
  }
}

input[type="file"] {
  @apply block w-full bg-white border-2 border-gray-400 px-4 py-2 pr-8 mb-3 rounded;
  transition: border-color 0.25s;
  &:hover {
    @apply border-gray-500;
  }
  &:focus {
    @apply outline-none border-primary-500;
  }
}

select {
  @apply block appearance-none w-full bg-white border-2 border-gray-400 px-4 py-2 pr-8 mb-3 rounded leading-tight;
  &:hover {
    @apply border-gray-500;
  }
  &:focus {
    @apply outline-none shadow-outline;
  }
}

label {
  @apply inline-block mb-1 uppercase font-bold text-xs text-gray-700;
  &.required {
    &::after {
      content: " *";
    }
  }
  input[type="checkbox"] + &, input[type="radio"] + & {
    @apply font-normal normal-case;
    &.required {
      &::after {
        content: "";
      }
    }
  }
}

.icheckbox_flat,
.iradio_flat {
  display: inline-block;
  + label {
    @apply font-medium normal-case text-sm;
    &.required::after {
      content: "";
    }
  }
}

.iradio_flat {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
