.pagination {
  @apply py-2;
  a, span {
    @apply px-4 py-2 border text-sm text-gray-700;
    display: inline-block;
    margin-left: -1px;
    &:first-child {
      @apply rounded-l;
      margin-left: 0;
    }
    &:last-child {
      @apply rounded-r;
    }
  }
  a {
    &:hover {
      @apply bg-gray-200;
    }
  }
  .current {
    @apply bg-primary-500 border-primary-500 font-bold text-white;
  }
  .disabled {
    @apply bg-gray-100 opacity-50;
  }
}
