body.with-sidebar {
  margin-left: 15.625rem;
}

nav.sidebar {
  bottom: 0;
  left: 0;
  position: fixed;
  top: 3.5rem;
  width: 15.625rem;
  > ul {
    > li {
      position: relative;
      > a {
        @apply text-gray-700 text-sm;
        align-items: center;
        display: flex;
        padding: 1rem;
        &:hover {
          @apply text-gray-900 bg-gray-300;
        }
        > i {
          margin-right: 0.5rem;
        }
      }
      &:not(.header) {
        > a {
          margin-left: 4px;
        }
        &.current, &.current_ancestor {
          @apply bg-gray-200;
          box-shadow: inset 4px 0 0 theme('colors.primary.400');
          > a {
            @apply text-primary-500 font-bold;
          }
        }
      }
      &.header {
        > a {
          @apply text-black font-bold;
          align-items: center;
          display: flex;
          padding: 0.5rem 1rem;
          .identicon {
            @apply bg-gray-300 text-gray-900 w-12 h-12 rounded text-base;
            align-items: center;
            display: flex;
            justify-content: center;
            margin-right: 0.5rem;
            text-transform: uppercase;
          }
          .image {
            @apply bg-white w-12 h-12 rounded;
            align-items: center;
            display: flex;
            justify-content: center;
            margin-right: 0.5rem;
            overflow: hidden;
            > img {
              max-height: 100%;
              max-width: 100%;
            }
          }
          > i {
            @apply bg-white w-12 h-12 rounded-full text-base text-gray-700;
            align-items: center;
            display: flex;
            justify-content: center;
            margin-right: 0.5rem;
          }
        }
      }
      > ul {
        display: none;
      }
      &.current, &.current_ancestor {
        > ul {
          display: block;
          > li {
            > a {
              @apply text-gray-700 text-sm;
              align-items: center;
              display: flex;
              margin-left: 4px;
              padding: 0.75rem 0.75rem 0.75rem (0.875rem + 1.5rem);
              &:hover {
                @apply text-gray-900 bg-gray-300;
              }
            }
            &.current {
              > a {
                @apply bg-gray-300 text-primary-500 font-bold;
              }
            }
          }
        }
      }
      &:not(.current):not(.current_ancestor):hover {
        > ul {
          @apply py-1 bg-white border border-l-0 shadow rounded-r;
          display: block;
          left: 15.625rem;
          margin-left: -1px;
          min-width: 10rem;
          position: absolute;
          top: 0;
          > li {
            > a {
              @apply px-4 py-2 text-sm;
              display: block;
              &:hover {
                @apply bg-gray-200;
              }
            }
          }
        }
      }
    }
  }
}
