body {
  padding-top: 3.5rem;
}

header.topbar {
  @apply fixed bg-primary-500;
  height: 3.5rem;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  > ul {
    > li {
      > a, button {
        @apply p-2 m-1 font-bold text-xs text-gray-100 rounded-full outline-none;
        align-items: center;
        display: flex;
        transition: background-color 0.25s, color 0.25s;
        &:hover {
          @apply bg-white text-primary-500;
        }
      }
    }
  }
  .dropdown-menu {
    min-width: 15rem;
    top: 3.5rem;
    ul {
      li {
        a {
          @apply text-sm;
          &:hover {
            @apply bg-gray-200;
          }
        }
      }
    }
  }
}
