body {
  margin-top: 3rem;
}

header.topbar {
  @apply bg-red-900;
  height: 3rem;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  .btn {
    @apply px-2 text-xs text-gray-100 rounded;
    align-items: center;
    display: flex;
    font-weight: bold;
    &:hover {
      @apply bg-white text-red-900;
    }
  }
}
