{% extends 'app/layout.html.twig' %}

{% block page_content %}
  <div class="page-title">
    <h1>Groupes</h1>
  </div>
  {% if is_granted('ROLE_PROJECT_GROUP_CREATE') %}
    <a class="btn success mb-4" href="{{ path('app_project_group_create') }}">Nouveau groupe</a>
  {% endif %}
  {{ include('app/project_group/_list.html.twig') }}
  {% if pager.haveToPaginate %}
    <div class="pagination text-center">
      {{ pagerfanta(pager) }}
    </div>
  {% endif %}
{% endblock %}
