{% extends 'app/layout.html.twig' %}

{% block body %}
<div class="container mx-auto p-4">
  <h1 class="pb-3 mb-3 border-b border-gray-300 text-2xl font-bold">Nouveaux identifiants</h1>
  {{ form_start(form) }}
    {{ form_rest(form) }}
    <button type="submit" class="btn success mt-4">
      J'ai terminé, créer !
    </button>
  {{ form_end(form) }}
</div>
{% endblock %}
