{% extends 'app/layout.html.twig' %}

{% block page_content %}
  <div class="page-title">
    <h1>Identifiants : {{ credentials.name }}</h1>
  </div>
  {{ form_start(form) }}
    {{ form_rest(form) }}
    <button type="submit" class="btn btn-success mt-4">Enregistrer</button>
  {{ form_end(form) }}
{% endblock %}
