{% extends 'app/layout.html.twig' %}

{% block page_content %}
  <div class="page-title">
    <h1>Identifiants</h1>
  </div>
  {% if is_granted('ROLE_CREDENTIALS_CREATE') %}
    <a class="btn btn-success-o mb-4" href="{{ path('app_credentials_create') }}">Nouveaux identifiants</a>
  {% endif %}
  <ul class="flex flex-col">
    {% for credential in credentials %}
      <li class="flex py-3 border-b last:border-b-0">
        <div class="flex flex-auto items-center">
          <a class="mr-auto text-sm font-bold" href="{{ path('app_credentials_view', { id: credential.id }) }}">{{ credential.name }}</a>
        </div>
      </li>
    {% endfor %}
  </ul>
  {% if pager.haveToPaginate %}
    <div class="pagination text-center">
      {{ pagerfanta(pager) }}
    </div>
  {% endif %}
{% endblock %}
