{% extends 'app/project/layout.html.twig' %}

{% block page_content %}
  {{ form_start(form, { attr: { class: 'mt-4' } }) }}
    {{ form_rest(form) }}
    <button type="submit" class="btn btn-success mt-4">Enregistrer</button>
  {{ form_end(form) }}
  {% if is_granted('DELETE', project) %}
    <div class="page-title mt-4">
      <h2>Supprimer le projet</h2>
    </div>
    <p>Supprimer ce projet supprimera aussi toutes les données associées.</p>
    <p><strong>Cette action est irréversible !</strong></p>
    <a
      class="btn btn-danger btn-sm mt-2"
      data-confirm="Êtes-vous sûr de vouloir supprimer ce projet ?"
      href="{{ path('app_project_delete', { projectGroupSlug: project.projectGroup.slug, projectSlug: project.slug }) }}">
      Supprimer
    </a>
  {% endif %}
{% endblock %}
