{% extends 'app/layout.html.twig' %}

{% block page_content %}
  <div class="page-title">
    <h1>Projets</h1>
  </div>
  {% if is_granted('ROLE_PROJECT_CREATE') %}
    <a class="btn btn-success mb-4" href="{{ path('app_project_create') }}">Nouveau projet</a>
  {% endif %}
  {{ include('app/project/_list.html.twig') }}
  {% if pager.haveToPaginate %}
    <div class="pagination text-center">
      {{ pagerfanta(pager) }}
    </div>
  {% endif %}
{% endblock %}
